<mat-sidenav-container fullscreen >
    <mat-sidenav #sidenav mode="push" >
        <span>Menu</span>
        <mat-toolbar>

            <button mat-icon-button
                (click)="sidenav.toggle()"> 
                <mat-icon> menu</mat-icon>
            </button>
    
        </mat-toolbar>
        <mat-nav-list>
            <a routerLink="./listado" mat-list-item  (click)="sidenav.toggle()" >
               <span>Listado de heroes</span> 
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>

        <button mat-icon-button
            (click)="sidenav.toggle()"> 
            <mat-icon> menu</mat-icon>
        </button>

    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>